[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
alchemy-mock = "*"

[packages]
bs4 = "*"
sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
psycopg2 = "*"
shadow-useragent = "*"
alembic = "*"

[requires]
python_version = "3.6"
